.about-page {
    margin-bottom: space(9);
}

.about-opening {
    margin-bottom: space(3);
}

.about-opening .container {
    display: grid;
    align-items: center;    
    grid-template-columns: 1fr;
    grid-column-gap: space(2);
    grid-row-gap: space(2);
}

.about-opening_portrait {
    order: -1;
    justify-self: center;
} 

.about-opening_portrait img {
    max-width: 100%;
    height: auto;
} 

@media (min-width: 768px) {
    .about-opening .container {
        grid-template-columns: 1fr 1fr;
    }
    
    .about-opening_portrait {
        order: 1;
    }     
}

.about-opening_statement-heading {
    margin: 0 0 space(1);
    font-size: rem(14px);
    font-weight: 600;
    line-height: space(1);
    text-transform: uppercase;
}

.about-opening_statement-definition {
    margin: 0;
    font-size: rem(18px);
    font-weight: 400;
    line-height: space(1);
}

.about-qualifications_part {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: space(1);
    padding: space(2) 0 space(1);
    margin-bottom: rem(-1px);
    border-bottom: rem(1px) solid var(--color-contrast-200);
}

.about-qualifications_part:last-of-type {
    border: 0;
    margin: 0;
}

@media (min-width: 768px) {
    .about-qualifications_part {
        grid-template-columns: 3fr 7fr;
    }
}

.about-qualifications_part-subdivision {
    max-width: 90%;
}

.about-qualifications_part-subdivision_contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: space(1);
    grid-row-gap: space(1);
}

@media (min-width: 768px) {
    .about-qualifications_part-subdivision_contact {
        grid-template-columns: repeat(3, 1fr);
    }
}

.about-qualifications_contact-list {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.about-qualifications_contact-list_item {
    padding: space(.5) 0;
    font-size: rem(14px);
    line-height: space(1);
    margin-bottom: rem(-1px);
    border-bottom: rem(1px) solid var(--color-contrast-200);
}

.about-qualifications_contact-list_item:last-of-type {
    margin: 0;
    border: 0;
}

.contact-list_item-link {
    text-decoration: none;
    color: inherit;
}

.about-qualifications_part-subdivision p {
    margin: auto 0 space(1);
}

.about-qualifications_part-heading {
    margin: 0;
    font-size: rem(12px);
    line-height: space(1);
    font-weight: 500;
    text-transform: uppercase;
}

.about-qualifications_ladder {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.about-qualifications_step {
    display: grid;
    grid-template-columns: 2fr 8fr;
    justify-items: start;
    align-items: center;
    padding: space(.5) 0;
    margin-bottom: rem(-1px);    
    border-bottom: rem(1px) solid var(--color-contrast-200);
}

.about-qualifications_step:last-of-type {
    border: 0;
    margin: 0;
}

.about-qualifications_step-date {
    display: block;
    font-size: rem(14px);
    color: var(--color-contrast-600);    
}

.about-qualifications_step-heading {
    margin: 0;
    font-size: rem(16px);
    font-weight: 400;
    max-width: 90%;
}