.blog-feed {
    margin-bottom: space(4);
}

.feed-header-title {
    margin: 0;
    font-size: rem(40px);
    line-height: space(2);
}

.feed-header_categories {
    display: flex;
    align-items: center;
    height: space(3);
    margin-bottom: space(1);
}

.feed-header_category {
    display: block;
    min-width: space(2);
    margin-right: rem(6px);
    padding: rem(3px) rem(12px);
    text-align: center;
    border-radius: 500px;
    background-color: var(--color-contrast-200);
    color: var(--color-contrast-700);    
}

.feed-header_category:last-of-type {
    margin: 0;  
}

.blog-feed_post-total {
    display: block;
    margin-bottom: space(1);
    font-size: rem(12px);
    line-height: space(1);
    font-weight: 500;
    text-transform: uppercase;     
    color: var(--color-contrast-600);
}

.blog-feed_aggregate {
    border-top: rem(1px) solid var(--color-contrast-300);
}

.blog-feed_empty {
    max-width: 90%;
}

.blog-feed_empty-heading {
    margin: space(2) 0 space(1);
    font-size: rem(16px);
    line-height: space(2);
}

.blog-feed_empty-phrase {
    margin: space(1) 0;
    font-size: rem(16px);
    line-height: space(1);
}

.blog-feed_empty-nudge {
    display: flex;
    align-items: center;
    height: space(3);
}

.blog-feed_empty-nudge > a {
    display: block;
    padding: rem(3px) rem(12px);
    text-align: center;
    border-radius: 500px;
    background-color: var(--color-contrast-200);
    color: var(--color-contrast-700); 
}

.blog-feed_post-year {
    display: block;
    margin: rem(-1px) 0;
    padding: space(2) 0 space(1);
    font-weight: 500;
    border-bottom: rem(1px) solid var(--color-contrast-200);
    color: var(--color-contrast-900);
}

.blog-post {
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-column-gap: space(2);
    grid-template-areas: 
        "meta-header meta-cut";
    padding: space(.5) 0;
    margin-bottom: rem(-1px);
    border-bottom: rem(1px) solid var(--color-contrast-200);
    text-decoration: none;
    color: var(--color-contrast-900);
}

.blog-post:last-of-type {
    border: 0;
    margin: 0;
}

.blog-post_meta-cut {
    grid-area: meta-cut;
    max-width: 100%;
    height: auto;    
}

.blog-post_meta-header {
    display: grid;
    grid-area: meta-header;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-template-areas:
        "meta-headline"
        "meta-date"
        "meta-excerpt";
    align-items: center;
}

@media (min-width: 768px) {
    .blog-post_meta-header {
        grid-template-columns: .5fr 1.5fr;
        grid-template-areas: 
            "meta-date meta-headline"
            ". meta-excerpt";
    }
}

.blog-post_meta-date {
    grid-area: meta-date;
    display: block;
    font-size: rem(14px);
    color: var(--color-contrast-600);
}

.blog-post_meta-headline {
    grid-area: meta-headline;
    margin: 0;
    font-size: rem(16px);
    font-weight: 600;
    max-width: 100%;
}

@media (min-width: 768px) {
    .blog-post_meta-headline {
        max-width: 90%;
    }
}

.blog-post_meta-excerpt {
    grid-area: meta-excerpt;
    margin: rem(12px) 0 0;
}