.feed-header-title {
    margin: 0;
    font-size: rem(40px);
    line-height: space(2);
}

.feed-header_categories {
    display: flex;
    align-items: center;
    height: space(3);
    margin-bottom: space(1);
}

.feed-header_category {
    display: block;
    min-width: space(2);
    margin-right: rem(6px);
    padding: rem(3px) rem(12px);
    text-align: center;
    border-color: transparent;
    border-radius: 500px;
    background-color: var(--color-contrast-200);
    color: var(--color-contrast-700);    
}

.feed-header_category:last-child {
    margin: 0;  
}

.feed-header_dropdown {
    position: relative;
    display: inline-block;
    min-width: space(2);
    margin-right: rem(6px);
    padding: rem(3px) 0 rem(3px) rem(12px);
    line-height: space(1);
    text-align: center;
    vertical-align: middle;
    border: 0;
    border-radius: 500px;
    background-color: var(--color-contrast-200);
    color: var(--color-contrast-700);
    z-index: 2;
}

.feed-header_dropdown > svg {
    margin-left: rem(3px);
    border-left: rem(1px) solid #cacaca;
    height: rem(24px);
    width: rem(24px);
    fill: var(--color-contrast-700);
}

.feed-header_dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: rem(-12px);
    padding-top: rem(12px);
    text-align: left;
    border-radius: 0 0 16px 16px;
    background-color: var(--color-contrast-200);
    z-index: -1;
}

.feed-header_dropdown-content > a {
    display: block;
    font-size: rem(14px);
    line-height: space(1);
    margin: rem(12px) 0;
    padding-left: rem(12px);
}

.feed-header_dropdown:hover .feed-header_dropdown-content {
    display: block;
}

.post-article {
    margin-bottom: space(4);
}

.post-article_meta {
    margin-bottom: space(1);
}

.post-article_meta-date {
    margin-bottom: space(1);
    font-size: rem(14px);
    font-weight: 500;
    line-height: space(1);
    color: var(--color-contrast-600);
}

.post-article_meta-kicker {
    margin: 0;
    font-size: rem(14px);
    line-height: space(1);
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-contrast-600);
}

.post-article_meta-headline {
    max-width: 75%;
    margin: 0;
    font-size: rem(30px);
    line-height: space(2);    
    font-weight: 600;
    color: var(--color-contrast-900);
    word-break: break-word;
}

.post-article_meta-deck {
    max-width: 75%;    
    margin: 0 0 space(.5);
    font-size: rem(24px);
    line-height: space(1.5);
    font-weight: 300;
    color: var(--color-contrast-600);
}

.post-article_meta-readtime {
    display: flex;
    align-items: center;
    margin: space(.5) 0 space(.5);
    font-size: rem(14px);
    line-height: space(1);
    font-weight: 400;
    color: var(--color-contrast-700);
}

.post-article_meta-readtime > svg {
    margin-right: rem(6px);
    height: rem(18px);
    width: rem(18px);
    fill: var(--color-contrast-700);
}

.post-article_content {
    font-size: rem(18px);
    line-height: space(1.33333333333);
    font-family: var(--font-content);
}

.post-article_content .container.compact {
    max-width: 624px;
}

.post-article_content p {
    margin: 0 0 2rem; //32px
}

.article-related {
    padding: 3rem 0;
    background-color: var(--color-contrast-50);
}

.article-related .container {
    max-width: 624px;
}

.article-related_header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: space(.5);
    margin-bottom: rem(-1px);    
    border-bottom: rem(1px) solid var(--color-contrast-300);
}

.article-related_header-category {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.article-related_header-category_heading {
    margin: 0;
    font-size: rem(12px);
    line-height: space(1);
    font-weight: 500;
    text-transform: uppercase;    
}

.article-related_header-category_group {
    margin: rem(12px) 0;
    font-size: rem(18px);
    line-height: space(1);
}

.article-related_entry {
    display: block;
    padding: space(1) 0;
    margin-bottom: rem(-1px);
    border-bottom: rem(1px) solid var(--color-contrast-300);
    text-decoration: none;
}

.article-related_entry:last-of-type {
    margin: 0;
    border: 0;
}

.article-related_entry-headline {
    max-width: 75%;    
    margin: 0;
    font-size: rem(16px);
    line-height: space(1);
    color: var(--color-contrast-900);
}

.article-related_entry-date {
    margin: 0;
    font-size: rem(14px);
    line-height: space(1);
    font-weight: 500;
    color: var(--color-contrast-700);
}