.site-navigation {
    padding-top: space(1);
    margin-bottom: space(5);
}

@media (min-width: 768px) {
    .site-navigation {
        margin-bottom: space(6);
    }    
}

.site-navigation .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-navigation_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem 0; //8px
    height: 32px;
    width: 32px;
    border: 2px solid var(--color-black);
    border-radius: 50%;
}

.site-navigation_logo-inner {
    height: 24px;
    width: 24px;
    box-shadow: inset 0 0 0 24px var(--color-black);
    border-radius: 50%;
    animation: logo-pulse .3s ease-in-out both;
}

.site-navigation-logo:focus .site-navigation-logo-inner,
.site-navigation-logo:hover .site-navigation-logo-inner {
    display: none;
}

@keyframes logo-pulse {
    0% {
        transform: scale(.5);
    }
    100% {
        transform: scale(1);
  }
}

.site-navigation_link {
    margin-right: space(1);
    font-weight: 500;
    color: var(--color-contrast-900);
    text-decoration: none;
}

.site-navigation_link:last-of-type {
    margin: 0;
}